    <link href="css/css.css" rel="stylesheet" type="text/css" />

    <body>
        <section class="hero-banner text-center">
            <div class="container">
                <h1><span>ZINDAGI</span> -- TRUST</h1>
                <a class="btn btn-succcess btn-lg" href="/login">Get Started</a>
            </div>
        </section>
    </body>
