    <link href="css/css.css" rel="stylesheet" type="text/css" />

    <body>
        <section class="hero-banner text-center">
            <div class="container">
                <a class="btn btn-succcess btn-lg" href="/login"><h1><span>ZINDAGI</span>Trust</h1></a>
            </div>
        </section>
    </body>
