<html>

<head>
    <link href="css/login-style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="login-page">
        <div class="form">
            <h1>Log in</h1>
            <% if(message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <form class="login-form" action="/login" method="post">
                <input type="text" placeholder="username" name="username" />
                <input type="password" placeholder="password" name="password" />
                <button type="submit" class="btn btn-succcess btn-lg">login</button>
                <p class="message">Not registered? <a href="/signup">Create an account</a></p>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/login-script.js"></script>

</html>