<html>
  <head>
    <link href="css/login-style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="login-page">
      <!-- <h1>Register</h1> -->
      <div class="form">
        <h1>Post Donation</h1>
        <form class="login-form" action="/postDonation" method="POST">
          <input type="text" placeholder="Amount in Rupees" name="amount" />
          <textarea
            rows="4"
            cols="31"
            placeholder="Details"
            name="details"
          ></textarea>
          <br /><br />
          <p>To confirm you donation post please confirm your password.</p>
          <% if(message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <input type="password" placeholder="Password" name="password" />
          <button>Post</button>
          <p class="message">Want to exit <a href="/">Click here!</a></p>
        </form>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="js/login-script.js"></script>
</html>
