<% include partials/header.ejs %>
<body>
  <div class="main">
    <div class="main_resize">
      <div class="header">
        <div class="logo">
          <h1>
            <a href="/profile"
              ><span>ZINDAGI</span>Trust<small
                >Ao dede inhain ZINDAGI!</small
              ></a
            >
          </h1>
        </div>

        <div class="clr"></div>
        <!-- Profile Picture -->
        <div class="hbg">
          <a href="/profile/edit"
            ><img
              style="border:1px solid;"
              src="uploads/<%= user[0].profilePic %>"
              width="180"
              height="180"
              alt=""
          /></a>
        </div>
        <!-- Menu bar starts -->
        <div class="menu_nav">
          <span><h2><%= user[0].name %></h2></span>
          <hr />
          <ul>
            <!-- <li><span><h2><% %> IDs</h2></span></li> -->
            <li class="active"><a href="/profile">Home</a></li>
            <li><a href="/profile/doner">Doners</a></li>
            <li><a href="/profile/accepter">Accepters</a></li>
            <li><a href="/logout">Log out</a></li>
            <!-- <li><a href="contact.html">Contact Us</a></li> -->
          </ul>
          <div class="clr"></div>
        </div>
        <hr />
      </div>
      <!-- Menu bar Ends -->

      <div class="content">
        <div class="content_bg">
          <div class="mainbar">
            <!-- donation starts -->
            <div class="article">
              <h2><span>Top Stories</span></h2>
              <br />
              <% result.forEach((i, index) => {%>
              <div class="clr"></div>
              <p class="post-data">
                <span class="date">March 16, 2018</span> &nbsp;|&nbsp; Posted by
                <a href="#"></a>
              </p>
              <p>
                <%= i.details %>
              </p>
              <p class="spec">
                <a href="/profile/post" class="com fr">Donate</a>
              </p>
              <div class="clr"></div>
              <% }) %>
            </div>
            <!-- donation ends -->

            <div class="pagenavi">
              <span class="pages">Page 1 of 2</span
              ><span class="current">1</span><a href="#">2</a
              ><a href="#">&raquo;</a>
            </div>
          </div>
          <div class="sidebar">
            <div class="gadget">
              <h2 class="star"><span>Menu</span></h2>
              <br />
              <div class="clr"></div>
              <ul class="sb_menu">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/profile/postDonation">Post Donation</a></li>
                <li><a href="/profile/responeses">Response</a></li>
                <li><a href="/profile/myDonations">My Donations</a></li>
              </ul>
            </div>
            <hr />
          </div>
          <div class="clr"></div>
        </div>
      </div>
      <!-- <hr> -->
    </div>
    <div class="fbg">
      <div class="fbg_resize">
        <div class="col c1"></div>
        <div class="clr"><hr /></div>
        <hr />
      </div>
    </div>
  </div>
  <% include partials/footer.ejs %>
</body>
